.bg-hero {
    background-image: url("../img/home-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.hero-content {
    color: white;
    letter-spacing: 1px;
}